* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fff;
    /* Change to a contrasting color */
    color: #000;
    /* Change to a contrasting color */
}

a {
    color: unset;
    text-decoration: none;
}


header .brand:hover {
    color: #09a6d4;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
    background: #09a6d4;
}

section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 140, 255, 0.959);
}

.home:before {
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(251, 3, 3, 0.034);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active {
    display: block;
}

.home .content h1 {
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 20px;
}

.home .content h1 span {
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p {
    margin-bottom: 65px;
    font-size: 1.59rem;
    font-weight: 500;
}

.home .content a {
    background: #fff;
    padding: 15px 35px;
    color: #000000;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
}

.home .content a:hover {
    background: #bb9518;
    color: #fff;
}

.home .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a {
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.home .media-icons a:hover {
    transform: scale(1.3);
    color: #09a6d4;
}

.home img {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: 100%;
    max-width: 90vw;
    margin: auto;
    padding-top: 10px;
    text-align: center;
}

.title {
    font-size: xx-large;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 0;
}

.data-categories {
    width: 100%;
    height: 70%;
    background-color: #f9f9f9;
    ;
}

.card-heading {
    display: flex;
    justify-content: left;
    font-weight: 600;
    padding: 15px 0 0 35px;
}

.listProduct .item img {
    width: 65%;
    aspect-ratio: 2/2;
    object-fit: contain;
    opacity: 1;
    visibility: visible;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 25px 50px -12px;
    transition: all 0.3s ease;
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 10px 85px 5px 85px;
}

.listProduct .item {
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    height: 278px;
}

.listProduct .item h2 {
    font-size: large;
    font-weight: 600;
    position: relative;
    top: 18px;
}

/* detail page */
.detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
}

.detail .image img {
    width: 80%;
    border-radius: 10%;
    height: 80%;
}

.detail .image {
    position: relative;
}

.detail .name {
    font-size: xx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}

.detail .buttons {
    display: flex;
    gap: 20px;
    margin: 30px 0 30px 0;
}

.detail .buttons button {
    background-color: #eee;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: Poppins;
    font-size: large;
    transition: all 0.4s ease-in;
    cursor: pointer;
}

.detail .buttons button:hover {
    background-color: #009a4e;
    color: white;
    margin-top: 9px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 25px 50px -12px;
    transition: all 0.3s ease;
}

.detail .buttons button:nth-child(2) {
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    box-shadow: 0 10px 20px #2F2F2F77;
}

.detail .description {
    font-weight: 400;
    font-size: 1.04rem;
}

/* mobile */

@media screen and (max-width:768px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .listProduct .item img {
        width: 100%;
        height: 16vh;
    }

    .listProduct .item h2 {
        font-size: 0.94rem;
    }

    .listProduct .item {
        width: 100%;
        height: 30vh;
        margin-right: 38px;

    }

    .detail {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .detail .image img {
        width: unset;
        height: 40vh;
    }

    .detail .name {
        font-size: x-large;
        margin: 0;
    }

    .detail .buttons button {
        font-size: small;
    }

    .detail .buttons {
        justify-content: center;
    }
}

@media only screen and (max-width: 1240px) {
    header {
        padding: 12px 20px;
    }

    section {
        padding: 100px 20px;
    }

    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }

    .detail {
        grid-template-columns: 40% 1fr;
    }

    .home .media-icons {
        right: 15px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 93.5%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a {
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a:before {
        background: #222;
        height: 5px;
    }

    header .navigation .navigation-items {
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px 20px 250px 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn {
        background: url(menu-btn.svg)no-repeat;
        background-size: 65px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active {
        z-index: 999;
        background: url(close-btn.svg)no-repeat;
        background-size: 65px;
        background-position: center;
        transition: 0.3s ease;
    }

    .slider-wrapper .slide-button {
        display: none !important;
    }

    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }

    .footer {
        background-size: 87%;
        width: 100%;
        height: 367px;
        background-position-y: 100px;
    }

    .foot-content {
        width: 100%;
        margin: 15px 12px 0 12px;
    }

    .about-us {
        width: 25%;
    }

    .about-us h2 {
        font-size: 1.29rem;
    }

    .about-us p {
        font-size: 0.72rem;
    }

    .quick-links {
        width: 25%;
    }

    .quick-links h2 {
        font-size: 1.29rem;
    }

    .quick-links ul {
        font-size: 0.79rem;
        font-weight: bold;
        cursor: pointer;
    }

    .products {
        width: 25%;
    }

    .products h2 {
        font-size: 1.29rem;
    }

    .products ul {
        font-size: 0.79rem;
        font-weight: bold;
        cursor: pointer;
    }

    .company-details h2 {
        font-size: 1.29rem;
        cursor: pointer;
    }

    .invert {
        filter: invert(1);
        width: 14px;
    }

    .company-details ul {
        font-size: 0.65rem;
        font-weight: bold;
    }

    .copyright-text {
        font-size: 0.85rem;
    }
}

@media (max-width: 660px) and (min-width: 280px) {

    
    html,body{
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }
    .home .content h1 {
        font-size: 3em;
        line-height: 60px;
    }

    .listProduct {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .listProduct .item img {
        width: 100%;
        height: 16vh;
    }

    .listProduct .item h2 {
        font-size: 0.94rem;
    }

    .listProduct .item {
        width: 100%;
        height: 30vh;
        margin-right: 38px;

    }

    .content.active h1 {

        font-size: 1.40rem;
    }

    .content.active h1 span {
        font-size: 1.40rem;
    }

    .home .content p {
        width: 100%;
        font-size: 1.55rem;
    }

    .detail {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .detail .image img {
        width: 100%;
        height: 40vh;
    }

    .detail .name {
        font-size: x-large;
        margin: 0;
    }

    .detail .buttons button {
        font-size: small;
    }

    .detail .buttons {
        justify-content: center;
    }

    header .navigation.active {
        position: fixed;
        width: 88.3%;
        height: 100%;
        top: 0;
        left: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items {
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px 20px 350px 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn {
        background: url(menu-btn.svg)no-repeat;
        background-size: 70px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active {
        z-index: 999;
        background: url(close-btn.svg)no-repeat;
        background-size: 70px;
        background-position: center;
        transition: 0.3s ease;
    }

    .footer {
        background-size: 100%;
        width: 100%;
        height: 367px;
        background-position-y: 170px;
    }

    .foot-content {
        width: 100%;
        margin: 15px 30px 0 12px;
    }

    .about-us {
        width: 22vw;
    }

    .about-us h2 {
        font-size: 0.85rem;
    }

    .about-us p {
        font-size: 0.58rem;
    }

    .quick-links {
        width: 23vw;
    }

    .quick-links h2 {
        font-size: 0.85rem;
    }

    .quick-links ul {
        font-size: 0.62rem;
        font-weight: bold;
    }

    .products {
        width: 24vw;
    }

    .products h2 {
        font-size: 0.85rem;
    }

    .products ul {
        font-size: 0.62rem;
        font-weight: bold;
    }

    .company-details h2 {
        font-size: 0.85rem;
    }

    .company-details ul {
        font-size: 0.60rem;
        font-weight: bold;
    }

    .invert1 {
        filter: invert(1);
        width: 10px;

    }

    .copyright-text {
        font-size: 0.60rem;
    }
}